{% extends 'base.html' %}

{% block content %}
<p id="url">Share this link with your teammates to join this session: </p>
<div class="bordered" id="voting"><h2>Votes:</h2></div>

{% for option in options %}
<div class="card" data-value="{{option}}" onclick="cardClick(this)">{{option}}</div>
{% endfor %}

<script>
    var id = "{{ id|escapejs }}";
    var votes = {};

    addLink()

    var sessionSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/session/' + id + '/'
    );

    sessionSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        votes = data['votes'];

        var votesDiv = document.getElementById('voting');

        var voteDivs = votesDiv.querySelectorAll('.vote')
        for (var i = 0; i < voteDivs.length; i++) {
            votesDiv.removeChild(voteDivs[i])
        }

        for (let vote in votes) {
            var voteDiv = createVoteDiv(vote)
            votesDiv.appendChild(voteDiv)
        }
    }

    sessionSocket.onclose = function(event) {
        console.error('Session socket closed unexpectedly');
    }

    /**
     * Sends data to the server when a card is clicked.
     * 
     * @param   {HTMLDivElement}    card    The card that's been clicked
     */
    function cardClick(card) {
        var selectedCards = document.getElementsByClassName('selected');
        for (let selectedCard of selectedCards) {
            selectedCard.classList.remove('selected')
        }
        card.classList.add('selected');
        sessionSocket.send(JSON.stringify({
            'vote': card.dataset.value
        }));
    }

    /**
     * A div representing a vote received from the sever.
     * 
     * @param   {Object}            vote    The vote that the div will represent
     * @return  {HTMLDivElement}            A Div representing a vote
     */
    function createVoteDiv(vote) {
        voteDiv = document.createElement('div');
        voteDiv.classList.add('vote')
        voteDiv.dataset.value = vote;

        card = document.createElement('div');
        card.classList.add('card');
        
        card.textContent = vote

        voteDiv.appendChild(card);
        var numVotes = document.createElement('p')
        numVotes.textContent = 'Votes: ' + votes[vote]
        voteDiv.appendChild(numVotes)
        
        return voteDiv;
    }

    /**
     * Add the current url to the page for others to join session. 
     */
    function addLink() {
        var url = window.location.href
        var urlLink = document.createElement('a')
        urlLink.href = url
        var link = document.createTextNode(url)
        urlLink.appendChild(link)
        document.getElementById('url').appendChild(urlLink);
    }
    
</script>
{% endblock content %}