{% extends 'base.html' %}

{% block content %}
<div id="voting"><h2>Votes:</h2></div>

{% for option in options %}
<div class="card" data-value="{{option}}" onclick="cardClick(this)">{{option}}</div>
{% endfor %}

<script>
    var id = "{{ id|escapejs }}";
    // var options = "{{ options|escapejs }}";
    var votes = {};

    

    var sessionSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/session/' + id + '/'
    );

    sessionSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        votes = data['votes'];

        var votesDiv = document.getElementById('voting');

        var voteDivs = votesDiv.querySelectorAll('.vote')
        for (var i = 0; i < voteDivs.length; i++) {
            votesDiv.removeChild(voteDivs[i])
        }

        for (let vote in votes) {
            var voteDiv = createVoteDiv(vote)
            votesDiv.appendChild(voteDiv)
        }
    }

    sessionSocket.onclose = function(event) {
        console.error('Session socket closed unexpectedly');
    }

    function cardClick(card) {
        var selectedCards = document.getElementsByClassName('selected');
        for (let selectedCard of selectedCards) {
            selectedCard.classList.remove('selected')
        }
        card.classList.add('selected');
        sessionSocket.send(JSON.stringify({
            'vote': card.dataset.value
        }));
    }

    function createVoteDiv(vote) {
        voteDiv = document.createElement('div');
        voteDiv.classList.add('vote')
        voteDiv.dataset.value = vote;

        card = document.createElement('div');
        card.classList.add('card');
        
        card.textContent = vote

        voteDiv.appendChild(card);
        var numVotes = document.createElement('p')
        numVotes.textContent = 'Votes: ' + votes[vote]
        voteDiv.appendChild(numVotes)
        
        return voteDiv;
    }
    
</script>
{% endblock content %}